services:
  app:
    image: jekyll/jekyll:4
    platform: linux/arm64
    command: jekyll serve
    # command: >
    #     bash -c "echo hello && tail -f /dev/null"
    ports:
      - 4000:4000
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_ENV=development
